<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="card">
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <mat-icon>account_circle</mat-icon>
          <span> {{ user }} </span>
        </div>
        <div class="row d-flex justify-content-center mt-1">
          <a (click)="logout()" class="row">
            Logout
            <mat-icon class="ml-1">logout</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <mat-toolbar>Modules</mat-toolbar>
    <mat-nav-list *ngFor="let item of list">
      <a mat-list-item href="#">{{ item.title }}</a>
    </mat-nav-list>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>english-trainner</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
